.App {
  font-family: sans-serif;
  text-align: center;
}

.bodyContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#cookieClickerDiv {
  float: left;
  width: 70%;
  background-image: url(/img/table.jpg);
  background-position: center;
  background-size: cover;
}

#gameInterfaceDiv {
  float: left;
  width: 30%;
}
