.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: linear-gradient(180deg, #70f, #40f);
}

.bodyContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#cookieClickerDiv {
  float: left;
  width: 70%;
}

#gameInterfaceDiv {
  float: left;
  width: 30%;
}
