.App {
  font-family: sans-serif;
  text-align: center;
}

.bodyContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#cookieClickerDiv {
  float: left;
  width: 70%;
  background-image: url(https://uploads.codesandbox.io/uploads/user/d2fb2219-4a06-4a5b-8258-ae3845a0e520/p_3y-table.jpg);
  background-position: center;
  background-size: cover;
}

#gameInterfaceDiv {
  float: left;
  width: 30%;
}
